#content{

}

#content h1{
  text-align: center;
  font-weight: bold;
  padding: 2% 0;
}
i{
  color:#ff4c68;
}
body{
    font-family: "ubuntu";
    font-weight: 800;
}
.container-fluid{
  padding:3% 7%;
}
.c1 h1{
  font-size: 500%;
  text-align: center;
  font-weight: bold;
  }
.c2 h1{
    text-align: center;
    font-weight: bold;
    font-size: 500%;
    color:#ff4c68;
}
.c3 h1{
text-align: center;


font-weight: bold;
font-size: 500%;
}
.c3 h1 i{
  font-family: "ubuntu";
}
#mar{
  margin-block-start: 2em;
}
.c3{
  text-align: left:;
}
body{
  line-height: 1.5;
  background-color: #f8f7de;
}
